*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #05142b;
    padding: 0 20px;
    font-family: 'Poppins';
    font-weight: 400;
}

.form__wrapper{
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    margin-top: 100px;
}
form{
    padding-top: 20px;
    background-color: #fff;
}
.form__header{
    width: calc(100% + 40px);
    margin-left: -20px;
    padding: 20px;
    background-color: #5936d8;
    text-align: center;
    box-shadow: 0 0 25px -5px #dcdcdc;
}

.form__heading{
    color: #fff;
    font-size: 24px;
}

.form__content{
    margin-top: 50px;
    padding: 0  25px 30px;
}

.form__control{
    display: block;
    font-size: 16px;
    padding-bottom: 10px;
    outline: none;
    color: #000;
    border: none;
    border-bottom: 2px solid #9a9999;
    margin-bottom: 30px;
    width: 100%;
}
.form__control option{
    color: #9a9999;
}
.form__control::placeholder{
    color: #9a9999;
}
.form__control:last-child{
    margin-bottom: 0;
}

.btn__wrap{
    text-align: center;
}
.gender{
    
    display: flex;
    justify-content: space-between;
    color: #9a9999;
}
.form__submit__btn{
    padding: 10px 30px;
    color: #fff;
    font-size: 22px;
    background-color: #5936d7;
    border: 0;
    outline: none;
}


#requestResponse{
    max-width: 900px;
    width: 100%;
    margin: 50px auto 0;
    background-color: #fff;
}
#feesDeposite{
    display: none;
}